<div id="controls-box">
  <div id="controls-box-one">
    <table>
      <tbody>
        <tr ng-repeat="band in mileageBands | filter: {'active' : true} ">
          <td width="85px">
            <input type="checkbox" ng-model="band.selected" ng-change="toggleMarkers()"/> {{band.from}} - {{band.to}}
          </td>
          <td ng-style="{'background': band.color, 'width': '50px', 'border-radius':'5px'}"></td>
        </tr>
        <tr>
          <td width="85px">
            <input type="checkbox" ng-model="controls.custom" ng-change="toggleCustom()"/> Custom
          </td>
          <td style="background:#F4FA23 !important; width: 50px; border-radius:5px;"></td>
        </tr>
        <tr>
          <td width="85px">
            <input type="checkbox" ng-model="controls.inactive" ng-change="toggleInactive()"/> Inactive
          </td>
          <td style="background:#000 !important; width: 50px; border-radius:5px;"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="controls-box-two">
    <ul>
      <li><input type="checkbox" id="mileageBands" ng-change="toggleMileageBands()" ng-model="controls.showBands"/> Show Mileage Bands</li>
      <li><button class="btn" type="button" style="font-size:11px;margin-top:5px;" ng-click="resetZoom()">Reset Zoom / Position</button></li>
      <li><button class="btn" type="button" style="font-size:11px;margin-top:5px;" ng-click="toggleFullScreen()">Toggle Full Screen</button></li>
    </ul>
  </div>
</div>