<table class="table table-striped table-bordered table-hover table-highlight dataTable" 
               data-provide="datatable" data-display-rows="10" data-info="true" data-search="true" data-length-change="true" 
               data-paginate="true" id="ratesTable">
  <thead>
    <tr>
      <th data-filterable="false" data-sortable="false" class="hidden" tabindex="0" rowspan="1" colspan="1">id</th>
      <th data-filterable="true" data-sortable="true" class="sorting" tabindex="0" rowspan="1" colspan="1">City</th>
      <th data-filterable="true" data-sortable="true" class="sorting" tabindex="0" rowspan="1" colspan="1">State</th>
      <th data-filterable="true" data-sortable="true" class="sorting" tabindex="0" rowspan="1" colspan="1">Zip</th>
      <th data-filterable="true" data-sortable="true" class="sorting" tabindex="0" rowspan="1" colspan="1">Miles</th>
      <th data-filterable="true" data-sortable="true" class="sorting" tabindex="0" rowspan="1" colspan="1">Price</th>
      <th data-filterable="false" data-sortable="false" tabindex="0" rowspan="1" colspan="1">Free Drop</th>
    </tr>
  </thead>
  <tbody repeat-rates>
  </tbody>
</table>